<div class="landing-container">
    <div class="content">
        <img src="assets/images/dino_space1.png" alt="DinoSpace Logo" class="logo" />


        <h1 class="title">Bienvenido a <span class="highlight">DINOSPACE</span></h1>
        <p class="subtitle">Tu sitio de apoyo emocional</p>

        <div class="buttons">
            <button class="btn btn-primary" routerLink="/test">
                ¿Es tu primera vez en DinoSpace? Ingresa aquí
            </button>
            <button class="btn btn-secondary">Iniciar Sesión</button>
        </div>
    </div>
</div>